# ==========================================
# Flutter / Dart
# ==========================================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
flutter_*.png

# Lock files
pubspec.lock

# ==========================================
# Android
# ==========================================
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/captures/
*.jks

# Firebase
android/app/google-services.json

# ==========================================
# iOS / macOS
# ==========================================
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/GoogleService-Info.plist
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.*

# ==========================================
# Web
# ==========================================
web/firebase-messaging-sw.js
web/manifest.json
web/.firebase/

# ==========================================
# Environment & Secrets
# ==========================================
*.env
.env*
*.keys
*.keystore
*.pem
*.crt
*.p12
*.der

# ==========================================
# IDE / Editors
# ==========================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
*.swo

# ==========================================
# Logs & Temp
# ==========================================
*.log
*.tmp
*.temp
*.DS_Store
*.lock
